/.metadata/
/.git
/.github

common-classes/.project
common-classes/.classpath
common-classes/.settings/*
common-classes/target/*

EndUserServer/.project
EndUserServer/.classpath
EndUserServer/.settings/*
EndUserServer/target/*

EshopOwnerUserServer/.project
EshopOwnerUserServer/.classpath
EshopOwnerUserServer/.settings/*
EshopOwnerUserServer/target/*

Geteway/.project
Geteway/.classpath
Geteway/.settings/*
Geteway/target/*
Geteway/bin/*

ServiceRegister/.project
ServiceRegister/.classpath
ServiceRegister/.settings/*
ServiceRegister/target/*
